/* ============ HEADER ============== */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  max-width: 1100px;
  margin: 0 auto;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: none;
  font-size: 18px;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item:first-child {
  list-style-type: none;
}

.header__link {
  color: #000;
  text-underline-position: under;
}

.header__logo {
  display: block;
  width: 148px;
  min-height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.address {
  font-style: normal;
  font-size: 18px;
  line-height: 1.35;
  max-width: 240px;
}

.header__address {
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}

.address a {
  color: #000;
  text-underline-position: under;
}
/* ================= COVER ================= */
.cover {
  position: relative;
  min-height: 757px;
  padding: 165px 50px 0;
  margin: 0 auto 180px;
  max-width: 1100px;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  z-index: 2;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-bottom: 106px;
}

.aligned-text {
   display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 107px;
}

.cover__description-text {
  font-size: 22px;
  line-height: 1.1;
  word-spacing: 18px;
  text-transform: uppercase;
}

.bet-button {
  padding: 10px 35px;
  font-size: 22px;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.bet-button:hover {
  opacity: 0.8;
}
/* ================= LOTS ================= */
.lots {
  max-width: 1052px;
  min-height: 723px;
  margin: 0 auto 120px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 27px;
  padding-left: 64px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  max-width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  height: 100%;
  min-height: 596px;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  background-size: cover;
  background-position: center;
}

.card__title {
  position: relative;
  z-index: 2;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  line-height: 1.1;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.lots__look-more-link {
  font-size: 20px;
  color: #000;
  text-underline-position: under;
  padding-left: 64px;
}
/* ================= ABOUT ================= */
.about {
  max-width: 1052px;
  min-height: 595px;
  margin: 0 auto;
  padding: 0 24px 180px;
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  align-items: start;
}

.about__column {
  margin: 133px 0;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px auto;
}

.about__logo-image {
  object-fit: contain;
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 1.2;
}

.about__text p {
  margin: 0;
}
/* ================= FOOTER ================= */
.footer {
  max-width: 1100px;
  min-height: 180px;
  margin: 0 auto;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: flex-start;
}

.footer .address {
  justify-self: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.footer .address p {
  margin: 0;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  font-size: 18px;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link {
  color: #000;
  text-underline-position: under;
}

.footer__social-list {
  justify-self: end;
  list-style: none;
  display: flex;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}

.footer__social-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
